#############
# .NET CORE #
#############

# General
.vscode/
**/.env
.DS_Store
*.save
*.tmp

# .NET
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# Local database files
*.db
*.db-shm
*.db-wal

# Visual Studio
.vs/
*.VC.db
*.VC.opendb

# EditorConfig browser cache
*.log

################
# React Native #
################

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo